
<!--<div class="row">-->
  <div class="col-md-4">
    <div class="thumbnail" style="height: 250px">
      <a href="{{data.permaLink}}">
        <img src="{{data.imageUrl}}" width="100%" height="200px">
        <div class="caption">
          <div><span width="100%">{{data.title}}</span></div>
        </div>
      </a>
    </div>
  <!--</div>-->

</div>
<!--<div style="float: left; margin: 20px" >-->
  <!--<img src="{{data.imageUrl}}" height="200px" width="200px">-->
  <!--<div><span width="200px">{{data.title}}</span></div>-->
<!--</div>-->
